.page {
  display: flex;
  flex-direction: column;
  max-height: 100dvh;
  position: relative;
}

.main {
  display: flex;
  flex: 1;
  position: relative;
  column-gap: 15px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.contentsWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;

  row-gap: 15px;
  padding: 15px 50px 30px 50px;
}

.contentsWrapper section h2 {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 600;
}

.sideWrapper {
  position: sticky;
  top: 85px;
  width: 300px;
  height: 100%;
  background-color: white;
  border-left: 1px solid rgb(225, 228, 238);
}
