.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
  column-gap: 15px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
  max-width: 1400px;

  row-gap: 15px;
  padding: 15px 50px 30px 50px;
}

/* 호가 / 체결 */
.orderbookAndTrades {
  display: grid;
  column-gap: 35px;

  grid-template-columns: 1.4fr 1fr;
  max-height: 700px;
}

.orderbookAndTrades section {
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

.orderbookAndTrades section h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.contentsWrapper {
  display: flex;

  flex: 1;
  min-width: 0;
  min-height: 0;
  column-gap: 30px;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.rightWrapper {
  position: sticky;
  top: 56px;
  width: 280px;
  display: flex;
  flex-direction: column;

  height: calc(100dvh - 150px);
  border-radius: 16px;
}

.coinInfoWrapper {
  margin-bottom: 40px;
  margin-top: 40px;
}

.coinInfoWrapper section h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .orderbookAndTrades {
    display: flex;
    flex-direction: column;

    max-height: 200dvh;
  }

  .rightWrapper {
    width: 0;
    display: none;
  }

  .mainWrapper {
    padding: 15px 24px 30px 24px;
  }
}
