.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
  column-gap: 15px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
  max-width: 1400px;

  row-gap: 15px;
  padding: 15px 50px 30px 50px;
}

/* 호가 / 체결 */
.orderbookAndTrades {
  display: grid;
  column-gap: 35px;
  margin-top: 55px;

  grid-template-columns: 1.4fr 1fr;
}

.orderbookAndTrades section {
  flex: 1;
}

.orderbookAndTrades section h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.contentsWrapper {
  display: flex;

  flex: 1;
  min-width: 0;
  min-height: 0;
  column-gap: 30px;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.rightWrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

@media screen and (max-width: 768px) {
  .orderbookAndTrades {
    display: flex;
    flex-direction: column;
  }

  .rightWrapper {
    width: 0;
    display: none;
  }
}
