:root {
  --grey50: #f9fafb;
  --grey100: #f2f4f6;
  --grey200: #e5e8eb;
  --grey300: #d1d6db;
  --grey400: #b0b8c1;
  --grey500: #8b95a1;
  --grey600: #6b7684;
  --grey700: #4e5968;
  --grey800: #333d4b;
  --grey900: #191f28;
  --greyOpacity50: rgba(0, 23, 51, 0.02);
  --greyOpacity100: rgba(2, 32, 71, 0.05);
  --greyOpacity200: rgba(0, 27, 55, 0.1);
  --greyOpacity300: rgba(0, 29, 58, 0.18);
  --greyOpacity400: rgba(0, 25, 54, 0.31);
  --greyOpacity500: rgba(3, 24, 50, 0.46);
  --greyOpacity600: rgba(0, 19, 43, 0.58);
  --greyOpacity700: rgba(3, 18, 40, 0.7);
  --greyOpacity800: rgba(0, 12, 30, 0.8);
  --greyOpacity900: rgba(2, 9, 19, 0.91);

  --red50: #ffeeee;
  --red100: #ffd4d6;
  --red200: #feafb4;
  --red300: #fb8890;
  --red400: #f66570;
  --red500: #f04452;
  --red600: #e42939;
  --red700: #d22030;
  --red800: #bc1b2a;
  --red900: #a51926;
  --redOpacity50: rgb(251, 136, 144, 0.15);
  --redOpacity100: rgb(251, 136, 144, 0.34);
  --redOpacity200: rgb(251, 136, 144, 0.7);

  --blue50: #e8f3ff;
  --blue100: #c9e2ff;
  --blue200: #90c2ff;
  --blue300: #64a8ff;
  --blue400: #4593fc;
  --blue500: #3182f6;
  --blue600: #2272eb;
  --blue700: #1b64da;
  --blue800: #1957c2;
  --blue900: #194aa6;
  --blueOpacity50: rgba(100, 168, 255, 0.15);
  --blueOpacity100: rgba(100, 168, 255, 0.34);
  --blueOpacity200: rgba(100, 168, 255, 0.7);
}

html,
body {
  max-width: 100vw;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: var(--grey300) transparent;
}

body {
  font-family: var(--font-pretendard);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-family: var(--font-pretendard);
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
}

button {
  font-family: var(--font-pretendard);
  cursor: pointer;
  background: none;
  border: none;
}

input {
  font-family: var(--font-pretendard);
}
