.page {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--grey0);
  min-height: 100dvh;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
  column-gap: 15px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.mobileTabBar {
  display: none;
  position: sticky;
  top: 52px;
  z-index: 50;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;

  row-gap: 10px;

  /* 오른쪽 padding은 rightWrapper가 10px */
  padding: 0px 24px 0px 23px;
}

.contentsWrapper {
  display: flex;

  flex: 1;
  min-width: 0;
  min-height: 0;

  /* rightWrapper와 차이 10px 고려 */
  column-gap: 50px;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.menuWrapper {
  position: sticky;
  top: 64px; /* 헤더 52px + mainWrapper padding-top 12px */
  width: 200px;
  height: calc(100dvh - 64px);
  display: flex;
  flex-direction: column;

  min-height: 0;
  border-radius: 16px;
}

@media screen and (max-width: 1000px) {
  .page {
    min-height: 100dvh;
  }

  .mobileTabBar {
    display: flex;
  }

  .mainWrapper {
    padding: 0px 0 0 0;
    position: relative;
    min-height: 0;
    row-gap: 8px;
  }

  .contentsWrapper {
    min-height: 0;
  }

  .menuWrapper {
    display: none;
    width: auto;
    height: auto;
    position: relative;
    top: auto;
  }
}
