.inputContent {
  display: flex;
  flex-direction: column;

  height: 100%;
  border-radius: 14px;

  row-gap: 5px;
  position: relative;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  overflow: hidden;

  background: color-mix(in srgb, var(--greyOpacity100) 55%, transparent 55%);
}

/* top */
.topWrapper {
  display: flex;
  padding: 16px 19px 0 19px;
}

.topWrapper span {
  font-size: 14px;
  font-weight: 600;
  color: var(--greyOpacity500);
}

/* center */
.centerWrapper {
  display: flex;
  align-items: center;

  padding: 0 9px 7px 12px;
}

.buttonWrapper {
  display: flex;
  column-gap: 6px;
  padding: 0px 19px 16px 19px;
}

.buttonWrapper button {
  flex: 1;
  height: 28px;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;

  transition:
    background 0.1s,
    color 0.1s;
  background-color: color-mix(in srgb, var(--greyOpacity100) 60%, transparent 10%);
  color: var(--greyOpacity600);
}

.buttonWrapper button:hover {
  color: var(--greyOpacity700);
  background-color: color-mix(in srgb, var(--greyOpacity200) 60%, transparent 10%);
}

.inputWrapper {
  flex: 1;

  height: 40px;

  padding-left: 7px;
  position: relative;
  transition: border-color 0.1s;
}

.rightFixedText {
  right: 11px;
  top: 50%;
  font-size: 12px;

  transform: translateY(-50%);
  position: absolute;
  font-weight: 500;
  color: var(--greyOpacity400);
}

.inputWrapper input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  background: none;

  letter-spacing: -0.3px;
  color: var(--greyOpacity700);
}

.inputWrapper input::placeholder {
  font-size: 13px;
  font-weight: 500;
  color: var(--greyOpacity400);
}

/* stepper */

.stepperWrapper {
  display: flex;
  flex: 0.35;
  min-width: 60px;
  height: 37px;

  column-gap: 5px;
  padding: 4px;
}

.stepperWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.1s;

  background-color: color-mix(in srgb, var(--greyOpacity100) 60%, transparent 10%);
  color: var(--greyOpacity500);
}

.stepperWrapper button:hover {
  background-color: color-mix(in srgb, var(--greyOpacity200) 80%, transparent 10%);
}
