.tabs {
  width: 100%;
  height: 34px;
  padding: 2px;
  border-radius: 8px;
  background-color: color-mix(in srgb, var(--grey100) 80%, transparent 35%);
  position: relative;
  overflow: hidden;
}

.tabWrapper {
  height: 100%;
  display: flex;
  padding: 1px;
  z-index: 1;
}

.tab {
  position: relative;
  border: none;
  flex: 1;
  height: 100%;
  background: none;
  color: var(--grey600);
}

.tab span {
  position: relative;
  z-index: 2;
  font-size: 13px;
  font-weight: 500;
}

.sellTab .activeTab span {
  color: var(--blue600);
  font-weight: 600;
}

.buyTab .activeTab span {
  color: var(--red600);
  font-weight: 600;
}

.pill {
  inset: 0;
  position: absolute;
  border-radius: 6px;
  background-color: var(--grey0);

  z-index: 1;

  view-transition-name: tab-indicator;
}

/* indicator 이동 easing */
/* :global(::view-transition-old(tab-indicator)),
:global(::view-transition-new(tab-indicator)) {
  animation-timing-function: cubic-bezier(0.2, 0.9, 0.2, 1);
} */
