.history {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.historyTitle {
  display: flex;
  align-items: center;

  height: 25px;
  padding-left: 10px;
}

.historyTitle h4 {
  font-size: 17px;
  color: var(--greyOpacity800);
}

/* 상단 버튼 메뉴 */
.historyMenu {
  display: flex;
  align-items: center;
  height: 26px;
  margin-top: 11px;
  column-gap: 10px;
  margin-bottom: 10px;

  padding: 0px 8px;
}

.historyMenu button {
  background: var(--greyOpacity100);
  width: 50px;
  height: 30px;

  border: none;
  border-radius: 33px;
}

.historyMenu button span {
  padding: 0 8px;
  font-weight: 500;
  font-size: 13px;
  color: var(--grey800);
}

/* content */
.contentWrapper {
  flex: 1 1 auto;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.listViewport {
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;

  padding: 6px 10px;
}

/* empty */
.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-weight: 400;
  color: var(--greyOpacity600);
}

.completedList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
