.orderform {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.options {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--grey200);
}

.option {
  display: flex;
  align-items: center;
}

.option span {
  width: 58px;
  font-size: 14px;
  font-weight: 500;
  color: var(--grey700);
}

.optionContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 10px;
}

.buttonWrapper {
  display: flex;
  column-gap: 6px;
}

.buttonWrapper button {
  flex: 1;
  height: 30px;
  border: none;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--greyOpacity100);
  transition:
    background-color 0.1s,
    color 0.1s;
  color: var(--grey700);
}

.buttonWrapper button:hover {
  color: var(--grey800);
  background-color: var(--grey200);
}

/* text */
.rowWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.valueText {
  font-size: 15px;
  font-weight: 600;
  color: var(--grey800);
  letter-spacing: -0.3px;
  text-align: right;
}

.unitText {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey500);
  margin-left: 3px;
  text-align: right;
}

/* 아래 주문 */
.orderResult {
  display: flex;
  flex-direction: column;
}

.orderResult h2 {
  font-size: 17px;
  font-weight: 600;
  color: var(--grey800);
  margin-bottom: 5px;
  text-align: right;
}

.orderResult span {
  font-size: 17px;
  font-weight: 700;
  color: var(--grey800);
  text-align: right;
}
