.orderform {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-height: 0;

  row-gap: 30px;
}

.topOrderWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  flex: 0 0 auto; /* 내용만큼만 */
  min-height: 0;

  /* padding 10px 삽입 */
  padding: 0px 10px;
}

.bottomOrderWrapper {
  width: 100%;

  flex: 1 1 auto;
  min-height: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabmenu {
  margin-bottom: 13px;
}

.options {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  margin-bottom: 15px;
}

.option {
  display: flex;
  align-items: center;
}

.optionContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 10px;
}

/* 아래 주문 */
.orderResult {
  display: flex;
  flex-direction: column;
}

/* 주문 금액 */
.orderResult h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey800);
  margin-bottom: 2px;
  text-align: right;
}

/* 총액 원 */
.orderResult span {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: var(--grey800);
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.orderButton {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.orderButton span {
  text-align: center;
  font-size: 11px;
  color: var(--grey400);
  margin-bottom: 8px;
}

.orderButton button {
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;

  transition: background-color 0.2s;
}

.buyButton {
  background-color: var(--red500);
}

.buyButton:hover {
  background-color: var(--red600);
}

.sellButton {
  background-color: var(--blue500);
}

.sellButton:hover {
  background-color: var(--blue600);
}

@media screen and (max-width: 1000px) {
  .tabmenu {
    position: sticky;
    top: 55px;
    z-index: 50;
    margin-bottom: 13px;
  }
}
