.wrapper {
  width: 100%;
  max-width: 340px;
  height: 100%;
  max-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.listController {
  flex-shrink: 0;
}

.listWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 0px 9px 9px 9px;
}

/* 컨트롤러 맨 위 타이틀 */
.listTitle {
  padding: 15px 17px 0px 17px;
  margin-bottom: 14px;
  color: var(--grey800);
}

/* 아래 메뉴 버튼s */
.menuButtons {
  display: flex;
  align-items: center;
  height: 34px;

  column-gap: 8px;
  padding: 0px 14px;
  margin-bottom: 14px;
}

.menuButton {
  width: 45px;
  height: 30px;

  border-radius: 33px;
  border: none;
  background: var(--greyOpacity100);
  color: var(--grey800);
}

.menuButton span {
  font-size: 13px;
  padding: 0px 8px;
  font-weight: 500;
}

/* 리스트 상단 헤더 */
.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 18px;
  margin-bottom: 12px;
}

/* 왼쪽 정렬 버튼 */
.listOptionButton {
  display: flex;
  align-items: center;
  column-gap: 4px;
  background: none;
  border: none;
}

.listOptionButton span {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey800);
}

.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal {
  height: 600px;
  position: absolute;
  left: 30px;
  top: 60px;

  background-color: white;
  border: 1px solid var(--grey100);
  border-radius: 18px;

  box-shadow:
    0 10px 40px 0 var(--greyOpacity50),
    0 20px 50px 0 var(--greyOpacity50),
    2px 70px 80px 0 var(--greyOpacity50);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: calc(100%);
  }
  .modal {
    width: calc(100%- 40px);
    left: 20px;
  }
}
