.item {
  height: 50px;

  padding: 6px 10px;
  cursor: pointer;

  list-style: none;
  display: flex;
  align-items: center;

  column-gap: 12px;
  border-radius: 9px;
}

.item:hover {
  background-color: var(--greyOpacity50);
}

.item:active {
  background-color: var(--greyOpacity100);
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--grey100);
  overflow: hidden;
}

.coinNameWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  height: 32px;
  overflow: hidden;

  min-width: 0;
}

/* 코인이름 */
.coinName {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: var(--grey800);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coinCode {
  font-size: 12px;
}

/* 거래대금 숫자 */
.accTradePrice {
  font-size: 11px;
  font-weight: 400;
  margin-right: 2px;
  color: var(--grey500);
  letter-spacing: -0.2px;

  font-variant-numeric: tabular-nums;
}

/* 거래대금 단위 */
.accTradePriceUnit {
  font-size: 10px;
  font-weight: 400;

  color: var(--grey500);
}

/*  */
.priceWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 32px;
  min-width: 70px;
}

/* 현재가 */
.currentPriceText {
  font-size: 14px;
  font-weight: 600;

  color: var(--grey900);
  letter-spacing: -0.2px;
  font-variant-numeric: tabular-nums;
}

/* 변동률 */
.changeText {
  font-size: 12px;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.2px;
}

/* 컬러 */
.rise {
  color: var(--red500);
}

.fall {
  color: var(--blue500);
}

.even {
  color: var(--grey600);
}
