.item {
  height: 50px;

  padding: 6px 10px;
  cursor: pointer;

  display: flex;
  align-items: center;

  column-gap: 12px;
  border-radius: 9px;
}

.item:hover {
  background-color: var(--greyOpacity50);
}

.item:active {
  background-color: var(--greyOpacity100);
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--grey100);
  overflow: hidden;
}

.leftWrapper {
  display: flex;

  flex: 1;
  align-items: flex-start;

  height: 30px;
  overflow: hidden;

  min-width: 0;
  column-gap: 5px;
}

.leftTextWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1px;
}

/* 코인이름 */
.coinName {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: var(--grey900);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coinCode {
  color: var(--grey600);
  font-size: 11px;
}

/*  */
.rightWrapper {
  display: flex;
  align-items: center;

  height: 32px;
  min-width: 70px;
  column-gap: 22px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80%;
  text-align: center;
  border-radius: 6px;
}

.priceWrapper span {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.3px;
  font-variant-numeric: tabular-nums;
}

.priceWrapper.rise {
  background-color: var(--red500);
  color: var(--grey50);
}

.priceWrapper.fall {
  background-color: var(--blue500);
  color: var(--grey50);
}

.priceWrapper.even {
  background-color: var(--grey200);
  color: var(--grey700);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 32px;
}

/* 현재가 */
.currentPriceText {
  text-align: right;
  color: var(--grey900);
  letter-spacing: -0.4px;
  font-variant-numeric: tabular-nums;

  width: 100%;
  font-size: 15px;
  font-weight: 500;
}

.currentPriceText.rise {
  color: var(--red600);
}

.currentPriceText.fall {
  color: var(--blue600);
}

.currentPriceText.even {
  color: var(--grey800);
}

/* 컬러 */
.rise {
  color: var(--red500);
}

.fall {
  color: var(--blue500);
}

.even {
  color: var(--grey600);
}

/* 거래대금 숫자 */
.accTradePrice {
  color: var(--grey600);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.2px;

  font-variant-numeric: tabular-nums;
}
