.listController {
  flex-shrink: 0;
}

/* 컨트롤러 맨 위 타이틀 */
.listTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 0px 12px;
  margin-bottom: 10px;
  color: var(--grey800);

  position: relative;
}

.searchBox {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}

.searchButton {
  width: 36px;
  height: 36px;
  border: none;
  position: absolute;
  top: 9px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
  background: var(--grey100);
}

/* input */
.inputBox {
  display: flex;
  align-items: center;
  width: calc(100% - 0px);
  height: 32px;
  border-radius: 8px;
  background-color: var(--grey100);
  position: relative;
  padding: 0px 10px;
  column-gap: 10px;
}

.inputBox input {
  width: calc(100% - 40px);
  height: calc(100% - 5px);
  margin-bottom: 0px;
  border: none;
  background: none;

  outline: none;

  color: var(--grey700);
  font-weight: 500;
  letter-spacing: -0.3px;
}

.inputBox input::placeholder {
  color: var(--grey500);
  font-weight: 400;
}

.resetButton {
  min-width: 13px;
  min-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--grey400);
  border-radius: 50%;

  transition: background 0.1s;
}

.resetButton:hover {
  background: var(--grey600);
}

/* 아래 메뉴 버튼s */
.menuButtons {
  display: flex;
  align-items: center;
  height: 34px;

  column-gap: 8px;
  padding: 0px 12px;
  margin-bottom: 10px;
}

.menuButton {
  width: 45px;
  height: 30px;

  border-radius: 33px;
  border: none;
  background: var(--greyOpacity100);
  color: var(--grey700);

  transition: background 0.1s;
}

.menuButton span {
  font-size: 13px;
  padding: 0px 8px;
  font-weight: 500;
}

.menuButton[data-active='true'] {
  background: var(--grey800);
  color: var(--grey100);
}

.menuButton[data-active='false']:hover {
  background: var(--grey200);
  color: var(--grey800);
}

/* 리스트 상단 헤더 */
.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 15px 0px 15px;
  margin-bottom: 4px;
}

.listHeaderLeftWrapper {
  display: flex;
  align-items: center;
}

.listHeaderRightWrapper {
  display: flex;
  align-items: center;

  min-width: 70px;
  column-gap: 17px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80px;
}

.textWrapper {
  display: flex;

  column-gap: 2px;
  align-items: flex-end;
  justify-content: space-between;
}

/* sort 필드 */
.sortField {
  display: flex;
  align-items: center;
  padding: 3px 4px 3px 6px;
  border-radius: 6px;
  column-gap: 3px;

  margin: 0px -3px;
  color: var(--grey500);
}

.sortField.iconVisible {
  margin: 0;
  padding: 3px 6px 3px 6px;
}

.sortLabel {
  text-align: center;
  font-size: 12px;
}

.sortLabel[data-active='true'] {
  color: var(--grey800);
  font-weight: 600;
}

/* sort Icon */
/* ========================== */
.sortIcon {
  display: flex;
  align-items: center;
  width: 10px;
  height: 100%;

  font-weight: 500;
}

.sortIcon span {
  line-height: 50%;
}

.sortIcon[data-active='true'] {
  opacity: 1;
}

.sortField:hover {
  background-color: var(--grey100);
}

/*  */
.sortIcon .sortUp,
.sortIcon .sortDown {
  transition: fill 120ms ease;
}

/* 1. 활성 + asc 위 화살표  */
.sortIcon[data-active='true'][data-dir='asc'] .sortUp {
  fill: var(--grey700);
}
.sortIcon[data-active='true'][data-dir='asc'] .sortDown {
  fill: var(--grey300);
}

/* 2. 활성 + desc면 아래 화살표 강조 */
.sortIcon[data-active='true'][data-dir='desc'] .sortDown {
  fill: var(--grey700);
}
.sortIcon[data-active='true'][data-dir='desc'] .sortUp {
  fill: var(--grey300);
}

/* 3 */
.sortIcon[data-active='false'] .sortUp,
.sortIcon[data-active='false'] .sortDown {
  fill: var(--grey300);
}

/* 왼쪽 정렬 버튼 */
.listOptionButton {
  display: flex;
  align-items: center;
  column-gap: 4px;
  background: none;
  border: none;
}

.listOptionButton span {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey800);
}

@media screen and (max-width: 1000px) {
  .listTitleWrapper {
    padding: 7px 15px 0px 15px;
  }

  .menuButtons {
    padding: 0px 14px;
  }
  .listHeader {
    padding: 0px 17px 0px 16.6px;
  }
}
