/* menu */
.menuWrapper {
  width: 100%;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.menu {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 14px;
  height: 29px;
  position: relative;
}

.menu span {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 500;
  color: var(--grey500);
}

.menu:hover {
  font-weight: 700;
  color: var(--grey800);
}

.menu.select span {
  font-weight: 600;
  color: var(--grey200);
}

.pill {
  inset: 0;
  position: absolute;
  border-radius: 999px;
  background-color: var(--grey900);

  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .menuWrapper {
    z-index: 100;
  }

  .hiddenOnMobile {
    display: none;
  }
}
