.chart {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.controller {
  height: 50px;
  display: flex;
  align-items: center;
}

.button {
  background: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  color: var(--grey800);
  transition:
    background-color 0.2s,
    color 0.2s;
}

.selected {
  background-color: var(--greyOpacity100);
  color: var(--grey900);
}

.button:hover {
  background-color: var(--greyOpacity100);
  color: var(--grey900);
}

.button.selected:hover {
  background-color: var(--greyOpacity200);
  color: var(--grey900);
}

.chartViewport {
  flex: 1;
  width: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  position: relative;
}

.chartMount {
  width: 100%;
  height: 100%;
  min-width: 0;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);

  z-index: 100;
}

@media screen and (min-width: 1001px) {
  .chartViewport {
    height: 480px;
    flex: 0 0 480px;
  }
}

@media screen and (max-width: 1000px) {
  .controller {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 14px;
  }

  .chartViewport {
    min-height: 0;
    height: 0;
    flex: 1 1 auto;

    position: relative;
  }

  .chart {
    flex: 1;
    min-height: 0;
  }
}
