.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--grey500);
  margin-bottom: 6px;
}

.wrapper h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--grey800);
}
