.balancebar {
  height: 100%;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 10;

  padding: 0px 0px 4px 0;
}

.track {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  margin-bottom: 3px;
}

.bar {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  transform-origin: left center;

  will-change: transform;
}

.red.bar {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--red50);

  left: calc(100% + 1px);
  transform-origin: right center;
}
.blue.bar {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--blue50);
  left: calc(-100% - 1px);
  transform-origin: left center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  top: 50%;
  border-radius: 4px;
  transform: translateY(-50%);
}

.red.icon {
  background-color: var(--red100);
  position: absolute;
  right: 5px;
}

.blue.icon {
  background-color: var(--blue100);
  position: absolute;
  left: 5px;
}

.size {
  font-size: 12px;
  font-variant-numeric: tabular-nums;
  font-weight: 400;
  letter-spacing: -0.3px;
  top: 50%;
  transform: translateY(-50%);
}

.red.size {
  position: absolute;
  right: 28px;
  color: var(--red500);
}

.blue.size {
  position: absolute;
  left: 28px;
  color: var(--blue500);
}

.red svg {
  color: var(--red500);
}

.blue svg {
  color: var(--blue500);
}

@media screen and (max-width: 1000px) {
  .balancebar {
    position: sticky;
    top: 55px;
    z-index: 100;
    padding: 0px 0px 0 0px;
  }

  .track {
    border-radius: 0;
  }
}
