.row {
  display: flex;

  flex: 1;
  padding: 5px 0px 5px 5px;
  overflow: hidden;
  border-radius: 7px;

  transition: background-color 0.15s;
  user-select: none;
}

.orderbook {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.topArea {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background: linear-gradient(
    to top,
    transparent 0,
    color-mix(in srgb, var(--blueOpacity50) 20%, transparent 50%) 100%
  );
}

.topRow {
  display: grid;
  grid-template-columns: 1fr minmax(40%, 1fr);
  height: 42px;
  position: relative;
}

.bottomArea {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(
    to bottom,
    transparent 0,
    color-mix(in srgb, var(--redOpacity50) 20%, transparent 50%) 100%
  );
}

.bottomRow {
  display: grid;
  grid-template-columns: minmax(40%, 1fr) 1fr;
  height: 42px;
  position: relative;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 1;
}

.centerButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: transparent;
  border: none;
  cursor: pointer;
}

.centerButton:hover::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--greyOpacity50);
  box-shadow: inset 0 0 0 1px var(--grey400);
  border-radius: 8px;
}

.centerButton:active::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px var(--grey600);
  border-radius: 8px;
}

.isCurrent::before {
  content: '';

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px var(--grey600);
  border-radius: 8px;
}

.center::after {
  content: '';
  position: absolute;
  z-index: 100;
  right: -80px;
  width: 80px;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
}

.center::before {
  content: '';
  position: absolute;
  z-index: 100;
  left: -80px;
  width: 80px;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
}

.topRow .center {
  order: 1;
}

.center p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  font-variant-numeric: tabular-nums;
}

.center span {
  font-size: 11px;
  font-weight: 500;
  color: var(--grey500);
  margin-top: 2px;
  letter-spacing: -0.3px;
}

/* side */
/* ======================================= */
.side {
  position: relative;
}
.topRow .side p {
  position: absolute;
  right: 5px;
  transform: translateY(-50%);
  top: 50%;
  font-size: 13px;
  font-variant-numeric: tabular-nums;
  color: var(--blue600);
}

.bottomRow .side p {
  position: absolute;
  left: 5px;
  transform: translateY(-50%);
  top: 50%;
  font-size: 13px;
  font-variant-numeric: tabular-nums;
  color: var(--red600);
}

.barWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.topRow .barWrapper {
  margin-left: 5px;
}

.bottomRow .barWrapper {
  margin-right: 5px;
}

.bar {
  width: 100%;
  height: 29px;
  position: absolute;
}

.topRow .side .bar {
  right: -100%;
  background-color: var(--blueOpacity50);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.bottomRow .side .bar {
  left: -100%;
  background-color: var(--redOpacity50);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* ==================================== */
.rise {
  color: var(--red600);
}

.fall {
  color: var(--blue600);
}

.even {
  color: var(--grey600);
}

.info {
  background-color: white;
}
