.coinInfo {
  display: flex;
  width: 100%;

  border-radius: 12px;
  column-gap: 25px;
}

/* price ranges */
.priceRanges {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.priceRange {
  display: flex;
  flex-direction: column;
}

.priceRangeInfo {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
}

.priceRangeItem {
  display: flex;
  flex-direction: column;
}

.priceRangeItem span {
  font-size: 12px;
  color: var(--grey600);
}

.priceRangeItem p {
  font-size: 13px;
  font-weight: 500;
  color: var(--grey700);
  letter-spacing: -0.3px;
}

.priceRangeItem:nth-child(2) * {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .coinInfo {
    display: none;
  }
}
