.track {
  width: 100%;
  height: 10px;
  background-color: var(--greyOpacity100);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.ball {
  position: absolute;
  top: 0px;
  bottom: 0px;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--grey600);
  transition: transform 0.3s ease;
}
