.trades {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.tradeListHeader {
  display: flex;
  column-gap: 15px;
  margin-bottom: 2px;
  padding: 0px 9px 7px 9px;
  position: sticky;
  top: 0;
  background-color: white;
}

.headerCell {
  flex: 1;
  font-size: 14px;
  color: var(--grey600);
}

.headerCell:not(:first-child) {
  text-align: right;
}

.tradeList {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.tradeListItem {
  display: flex;
  column-gap: 15px;
  list-style: none;
  padding: 7px 9px;
}

.tradeListItem:nth-child(odd) {
  background-color: var(--greyOpacity50);
  border-radius: 6px;
}

.tradeCell {
  flex: 1;
}

.tradeCell:not(:first-child) {
  text-align: right;
}

.timeText {
  font-size: 14px;
  color: var(--grey600);
  letter-spacing: -0.5px;
}

.priceText {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

/* 컬러 */
.rise {
  color: var(--red500);
}

.fall {
  color: var(--blue500);
}

.even {
  color: var(--grey700);
}

@media screen and (max-width: 1000px) {
  .trades {
    overflow: visible;
    height: auto;
    top: 0;
  }

  .tradeListHeader {
    position: sticky;
    top: 55px;
    z-index: 50;
    /* border-top: 1px solid var(--grey100); */
    border-bottom: 1px solid var(--grey100);

    padding: 5px 18px 5px 19px;
    margin: 0;
  }

  .tradeListItem {
    display: flex;
    column-gap: 15px;
    list-style: none;
    padding: 7px 18px;
  }
}
