.wrapper {
  width: 100%;
  max-width: 340px;
  height: 100%;
  max-height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.listController {
  flex-shrink: 0;
}

.listWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 0px 9px 9px 9px;
}

/* 컨트롤러 맨 위 타이틀 */
.listTitle {
  padding: 12px 17px 0px 17px;
  margin-bottom: 14px;
}

/* 아래 메뉴 버튼s */
.menuButtons {
  display: flex;
  align-items: center;
  height: 34px;

  column-gap: 8px;
  padding: 0px 14px;
  margin-bottom: 14px;
}

.menuButton {
  width: 45px;
  height: 30px;

  border-radius: 33px;
  border: none;
}

.menuButton span {
  font-size: 13px;
  padding: 0px 8px;
  font-weight: 500;
}

/* 리스트 상단 헤더 */
.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 18px;
  margin-bottom: 12px;
}

/* 왼쪽 정렬 버튼 */
.listOptionButton {
  display: flex;
  align-items: center;
  column-gap: 4px;
  background: none;
  border: none;
}

.listOptionButton span {
  font-size: 14px;
  font-weight: 500;
}
