.exchangeHeader {
  display: flex;

  align-items: center;

  padding: 16px 30px;
  background-color: white;
  height: 55px;

  column-gap: 20px;
}

/* 코인이름 텍스트 */
.coinTitleText {
  font-size: 17px;
  font-weight: 600;
  color: #333d4b;
}

/* 코인 가격 */
.coinPriceText {
  font-size: 18px;
  font-weight: 700;
  color: #111827;

  letter-spacing: -0.5px;
}

.textWrapper {
  display: flex;
  column-gap: 12px;
}

.changeText {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.changeRumericText {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.changeWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

/* 코인이름 버튼 */
.coinNameButton {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0px 12px 0px 17px;
  border-radius: 999px;

  border: none;
}

.koreanNameText {
  font-size: 16px;
  font-weight: 700;
  margin-right: 8px;
}

.codeText {
  font-size: 12px;
  font-weight: 500;
  color: #6b7280;
}

.coinNameButton svg {
  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;

  margin-left: 5px;
}

/* 컬러 */
.rise {
  color: #f04452;
}

.fall {
  color: #3182f6;
}

.even {
  color: #4e5968;
}
