.exchangeHeader {
  display: flex;

  align-items: center;

  padding: 16px 30px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  height: 55px;

  column-gap: 20px;
  position: relative;
}

/* 코인이름 텍스트 */
.coinTitleText {
  font-size: 17px;
  font-weight: 600;
}

/* 코인 가격 */
.coinPriceText {
  font-size: 18px;
  font-weight: 700;

  letter-spacing: -0.5px;
}

.textWrapper {
  display: flex;
  column-gap: 12px;
}

.changeText {
  font-size: 12px;
  font-weight: 500;
}

.changeRumericText {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.changeWrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

/* 코인이름 버튼 */
.coinNameButton {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0px 12px 0px 17px;
  border-radius: 999px;

  border: none;
  background-color: var(--grey100);

  transition: background-color 0.2s;
  z-index: 200;
}

.coinNameButton.open {
  background-color: white;
}

.coinNameButton:hover {
  background-color: var(--grey200);
}

.koreanNameText {
  font-size: 16px;
  font-weight: 700;
  margin-right: 8px;
  color: var(--grey800);
}

.codeText {
  font-size: 12px;
  font-weight: 500;
  color: var(--grey500);
}

.coinNameButton svg {
  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;

  margin-left: 5px;
}

/* 컬러 */
.rise {
  color: var(--red500);
}

.fall {
  color: var(--blue500);
}

.even {
  color: var(--grey500);
}
