.header {
  height: 54px;
  background-color: white;
  border-bottom: 1px solid #e1e4ee;
  padding: 0px 16px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* 왼쪽 래퍼 */
/* 헤더, 메뉴 */
.leftWrapper {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #2b7fff;
}

.logoText {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}
