.marketInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 43px;

  /* padding 10px 고려 */
  padding-right: 10px;
}

/* left */

.leftWrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.leftInfoWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.leftIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--grey50);
  overflow: hidden;
  flex-shrink: 0;
  border: 0.5px solid var(--grey100);
}

/* left의 윗부분 코인이름, 현재가 */
.leftTopWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.coinNameText {
  font-size: 20px;
  font-weight: 600;
  color: var(--greyOpacity800);
}

.currentPriceText {
  font-size: 18px;
  font-weight: 600;
  color: var(--greyOpacity800);
  letter-spacing: -0.3px;
}

.leftBottomWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* 전일대비 */
.changeText {
  font-size: 13px;
  font-weight: 400;
  color: var(--grey500);
}

/* 가격변동 (%) */
.changeNumericText {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

.rightWrapper {
  display: flex;
  column-gap: 25px;
}

.rightItem {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.rightItemTitleText {
  font-size: 12px;
  font-weight: 400;
  color: var(--grey600);
  margin-bottom: 2px;
}

.rightItemValueText {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--grey700);

  font-variant-numeric: tabular-nums;
}

/* 컬러 */
.rise {
  color: var(--red500);
}

.fall {
  color: var(--blue500);
}

.even {
  color: var(--grey700);
}

@media screen and (max-width: 1000px) {
  .rightWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rightItem {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: flex-start;
  }
  .rightItemTitleText {
    flex: 1;
  }

  .marketInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
    row-gap: 15px;

    padding: 12px 20px 0 20px;
  }
}
