.chart {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.controller {
  height: 50px;
  display: flex;
  align-items: center;
}

.button {
  background: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  color: var(--grey800);
  transition:
    background-color 0.2s,
    color 0.2s;
}

.selected {
  background-color: var(--greyOpacity100);
  color: var(--grey900);
}

.button:hover {
  background-color: var(--greyOpacity100);
  color: var(--grey900);
}

.button.selected:hover {
  background-color: var(--greyOpacity200);
  color: var(--grey900);
}
