.tabs {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(225, 228, 238);
  padding: 0px 16px;
  column-gap: 12px;
}

.tab {
  height: 100%;
  font-size: 13px;
  font-weight: 500;
  color: rgb(100, 113, 139);
  background: none;
  border: none;
  cursor: pointer;
}

.tabActive {
  color: rgb(43, 127, 255);
  border-bottom: 2px solid rgb(43, 127, 255);
}
.tabInactive {
  color: rgb(100, 113, 139);
  border-bottom: none;
}
