.row {
  display: flex;

  flex: 1;
  padding: 5px 0px 5px 5px;
  overflow: hidden;
  border-radius: 7px;

  transition: background-color 0.15s;
  user-select: none;
}

/* col2 */
/* ===================================== */
.col2 .redRow * .bar {
  background-color: var(--redOpacity50);
}

.col2 .blueRow * .bar {
  background-color: var(--blueOpacity50);
}

.col2 * .bar {
  position: absolute;
  right: 0;

  height: 100%;
  width: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.col2 * .priceWrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 0px;
  width: fit-content;
}

.col2 * .sizeText {
  font-size: 14px;
  position: absolute;
  right: 0px;
  font-variant-numeric: tabular-nums;
  padding: 0 6px;
}

.blueRow:hover {
  background-color: var(--blueOpacity50);
}

.blueRow:hover .bar {
  background-color: var(--blueOpacity100);
}

.redRow:hover {
  background-color: var(--redOpacity50);
}

.redRow:hover .bar {
  background-color: var(--redOpacity100);
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  position: relative;
  font-variant-numeric: tabular-nums;
}

.cell p {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.cell span {
  font-size: 12px;
  font-weight: 500;
}

.redRow .sizeText {
  color: var(--red500);
}

.blueRow .sizeText {
  color: var(--blue500);
}

.rise p {
  color: var(--red500);
}

.rise span {
  color: var(--red400);
}

.fall p {
  color: var(--blue500);
}

.fall span {
  color: var(--blue400);
}

.even p {
  color: var(--grey700);
}

.even span {
  color: var(--grey600);
}
