.marketInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left */
.leftWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

/* left의 윗부분 코인이름, 현재가 */
.leftTopWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.coinNameText {
  font-size: 20px;
  font-weight: 600;
  color: var(--greyOpacity800);
}

.currentPriceText {
  font-size: 18px;
  font-weight: 600;
  color: var(--greyOpacity800);
}

.leftBottomWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* 전일대비 */
.changeText {
  font-size: 13px;
  font-weight: 400;
  color: var(--grey500);
}

/* 가격변동 (%) */
.changeNumericText {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.4px;
}

.rightWrapper {
  display: flex;
  column-gap: 25px;
}

.rightItem {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.rightItemTitleText {
  font-size: 11px;
  font-weight: 400;
  color: var(--grey600);
  margin-bottom: 2px;
}

.rightItemValueText {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--grey700);
}

/* 컬러 */
.rise {
  color: var(--red500);
}

.fall {
  color: var(--blue500);
}

.even {
  color: var(--grey700);
}
