.chartPadding {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0;
  margin-bottom: 10px;
}

.tradesPadding {
  flex: 1;
  padding: 0px 0px;

  margin-bottom: 60px;
}

.orderbookPadding {
  flex: 1;
  padding: 0px 0px;

  margin-bottom: 66px;
  position: relative;
}

.orderformPadding {
  flex: 1;
  padding: 0px 8px;
  margin-bottom: 60px;
}
